* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* menu */
.menu-container {
    background-color: rgb(87, 100, 145);
    padding: 5px 0;
    display: flex;
    justify-content: center;
}

.menu {
    width: 70%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.links > a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
    margin-left: 20px;
    padding-left: 5px;
}

.links > a:hover {
    color: rgb(0, 8, 239);
}

.two, .three {
    border-left: 1px solid white;
}

.logo {
    margin-right: auto;
    font-size: 40px;
    font-weight: 900;
    font-family: sans-serif;
    color: rgb(203, 125, 0);
}

/* header */
.header-container {
    background-color: rgba(123, 135, 175, 0.922);
    padding: 7vw 0;
    display: flex;
    justify-content: center;
}

.header {
    width: 70%; 
    display: flex;
    justify-content: space-between;
}

.image {
    width: 100%;
    height: auto;
}

.header-title {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
    align-items: center;
}

.header-title > h2 {
    color: rgb(255, 255, 255);
    text-align: center;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.header-title > p {
    text-align: center;
    color: #ffffff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 60%;
    padding: 10px;
    background-color: rgba(123, 135, 175, 0.89);
}

.but-one {
    background-color: rgb(0, 149, 255);
    border: none;
    padding: 10px 20px;
    color: #fff;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-radius: 10px;
    cursor: pointer;
}

.but-one:hover {
    color: black;
}

/* content */
.section-content {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.content {
    width: 70%;
    display: flex;
    justify-content: space-between;
}

.content-squares {
    width: 13vw;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.content-squares > p {
    margin-top: 10px;
}

.info {
    color: rgb(61, 122, 255);
    padding: 5vw;
}

.dj {
    width: 12vw;
    height: 10vw;
    border: 5px solid rgb(84, 138, 245);
    border-radius: 15px;
}

/* quote */
.quote {
    background-color: rgb(235, 235, 235);
    padding: 5vw;
    margin: 5vw 0;
    display: flex;
    justify-content: center;
}

blockquote {
    width: 60%;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
}

.quote-content {
    font-size: 25px;
    text-align: center;
}

.quote-author {
    font-size: 25px;
    font-weight: bold;
}

/* ticket */
.ticket {
    display: flex;
    justify-content: center;
}

.ticket-header {
    border: 1px solid;
    width: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5vw;
    background-color: rgb(76, 149, 251);
    padding: 3vw 7vw;
    border: none;
    border-radius: 15px;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.but {
    color: #fff;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    border: 2px solid white;
    background-color: rgb(76, 149, 251);
    padding: 5px 25px;
    border-radius: 10px;
    cursor: pointer;
}

.but:hover {
    color:black;
}